*{
    padding: 0;
    margin: 0 auto;
    border:none
}
a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.9);
}
#header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: rgba(10, 18, 32, 0.36);
    backdrop-filter: blur(4px);
    background: url("../img/img1.svg") no-repeat top/cover;
    opacity: 75%;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title{
    margin-left: -100px;
}
.header-title span{
    font-weight: 600;
    font-size: 40px;
    color: #8DB932;
}
.header-title h1{
    font-weight: 600;
    font-size: 40px;
    color: #ffff
}
.header-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-right: -70px;
}
.header-icon a{
    color:#8DB932;
    font-size: 25px;
}
.header-icon p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.header-icon button{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #8DB932;
    border-radius: 10px;
    width: 157px;
    height: 43px;
}
.header-icon button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.9);
}
#hero{
    background:url("../img/img1.svg") no-repeat center/cover;
     min-height: 250vh    ;
}
.hero{
}
.hero-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 150px 0;
}
.hero-title button{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #769D25;
    width: 188px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;

}
.hero-title button:hover{
    background: transparent;
    border: 2px solid #FF4343;
    transform: scale(0.9);
}
.hero-title h1{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nice h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 100px;
}
.nice h2 {
    padding-left: 430px;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    color: #769D25;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.04%, rgba(255, 255, 255, 0) 100%);
}
.hero-block h1{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #263238;
}
.hero-block p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #263238;
}
.hero-blocks{
    padding-top: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero-blok{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.hero-blok a ion-icon{
    margin-left: -30px;
    font-size: 25px;
    color: #45B2EA;
    border-radius: 1px;
}

.hero-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 251, 255, 0.5) 100%);
    box-shadow: 0 8px 16px #E0F5FF;
    border-radius: 20px;
    width: 200px;
    height: 150px;
}
#dale{
    background:url("../img/img2.svg")no-repeat center/cover;
}
.dale{
    padding: 100px 0;
}
.dale-title h1{
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    color: #263238;
    padding-bottom: 100px;
}
.dale-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dale-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 168px;
    height: 163px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 251, 255, 0.5) 100%);
    box-shadow: 0 8px 16px #E0F5FF;
    border-radius: 20px;
}
.dale-block h1{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #263238;
    padding: 10px 0;
}
.dale-btn button{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /*margin-top: 30px;*/
}
.dale-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 126px;
    height: 51px;
    /*background: #8DB932;*/
    /*box-shadow: 0 11px 23px rgba(87, 137, 6, 0.62), 0 2px 5px rgba(87, 137, 6, 0.369586), 0px 1px 1px rgba(87, 137, 6, 0.250414);*/
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
}

.box{
    background: linear-gradient(to right, rgb(0, 247, 255), #0e1438);
    color: white;
    --width: 190px;
    --height: calc(var(--width) / 4);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
    font-family: sans-serif;
    letter-spacing: 0.2em;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.box:hover{
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}
.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}
.box:hover::before{
    left: 100%;
}
.figurs{
    padding-top: 80px;

}
.figure{
    position: absolute;
    left: 17.09%;
    right: 72.61%;
    background: #8DB932;
    box-shadow: 0 22px 46px rgba(87, 137, 6, 0.62), 0 4.91399px 10.2747px rgba(87, 137, 6, 0.369586), 0px 1.46302px 3.05905px rgba(87, 137, 6, 0.250414);
    border-radius: 10px;
    width: 80px;
    height: 15px;
}
.figure1{
    position: absolute;
    width: 80px;
    height: 15px;
    left: 30.9%;
    right: 58.79%;
    background: #BDCFDB;
    border-radius: 6px;
}
.figure2{
    position: absolute;
    width: 80px;
    height: 15px;
    left: 44.97%;
    right: 44.97%;
    background: #BDCFDB;
    border-radius: 6px;

}
.figure3{
    position: absolute;
    width: 90px;
    height: 15px;
    left: 58.79%;
    right: 30.9%;
    background: #BDCFDB;
    border-radius: 6px;
}
.figure4{
    position: absolute;
    width: 80px;
    height: 15px;
    left: 72.61%;
    right: 17.09%;
    background: #BDCFDB;
    border-radius: 6px;
}
#produckt{
    padding: 100px 0;
    line-height: 13px;
    background: #F2F9FD;
}
.produckt-title h1{
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    color: #263238;
}
.produkt-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lable-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #263238;
    padding-top: 180px  ;
}
.bloccks{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
}
.block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 20px;
    width: 240px;
    height: 730px;
    margin-bottom: 20px;
}
.block-title h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: #263238;
    padding: 15px 0;
    margin-left: 15px;
}
.block-title h2{
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.172911px;
    margin-left: 15px;
    padding: 5px;
}
.block-title a{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    padding: 10px 0;
}
.blok-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}
.blok-icon h3{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.block-icon  {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction:column;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.block-title h2{
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.172911px;
    color: #263238;
}
.block-title button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 215px;
    height: 25px;
    border: 1px solid #BDCFDB;
    border-radius: 15px;
}
.block-title button button1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 11px;
    width: 40px;
    height: 10px;
    background: #8DB932;
    border-radius: 16px 0 0 16px;
}
.block-title button button2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 11px;
    width: 40px;
    height: 10px;
    border-radius: 16px;
}.block-title button button3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 11px;
    width: 40px;
    height: 10px;
    border-radius: 16px;
}
.block-title button button4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 11px;
    width: 40px;
    height: 10px;
    border-radius: 16px;
}
.s-btn{
    margin-bottom: 10px;
}
.d-btn{
    margin-top: 10px;
}
.lable-san{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.h1{
    display: flex;
}

.h1 h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    text-decoration-line: line-through;
    padding: 20px 15px;
    color: #D02726;
}
.h1 h2{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.25px;
    color: #263238;
}
.lable-san h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #333333;
    width: 228px;
    height: 24px;
    background: #FFD6D6;
    border-radius: 20px;
    margin-bottom: 30px;
}
.lable-san button button3{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #263238;
    /*width: 253px;*/
    /*height: 35px;*/
    border-radius: 20px;
    flex-direction: column;
    padding: 10px 0;
}
.lable-san button button4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: #8DB932;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.lable-san button{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#too{
    background:url("../img/tooo.svg") no-repeat center/cover;
    padding: 100px 0;
    /*position: relative;*/
}
.too{
    /*padding: 100px 0;*/
    position: relative;
}
.too-title h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 150px;
}
.too-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.too-text{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    padding-left: 500px;
}
.too-text a{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.too-icon1 span{
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    color: #D02726;
}
.too-icon1{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.too-icon h1{
    margin-left: 20px;
}
.too-icon1 h1{
    margin-left: 20px;
}
.too-text a ion-icon{
    color: #8DB932;
    font-size: 30px;
}
.too-icon{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.too-img{
    position: absolute;
    /*top:6050px  ;*/
}
#stan{
    padding: 100px 0;
    position: relative;
}
.stan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    position: absolute;
    width: 1098px;
    height: 378px;
    left: 171px;
    bottom:-200px;
    /*top: 6520px;*/
    background: #DDEFFF;
    box-shadow: 0 8px 24px rgba(0, 88, 140, 0.22);
    border-radius: 30px;
}
.stan-title h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #263238;
}
.stan-block h1{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    color: #45B2EA;
    width: 72px;
    height: 72px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(239, 251, 255, 0.5) 100%);
    box-shadow: 0 8px 16px #E0F5FF;
    border-radius: 20px;
    padding:15px;
}
.stan-block h2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #263238;
    margin: 30px;
}
.stan-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stan-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15px;
}
.stan-img{
    padding: 100px 0;
}
.stan-img h1{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #263238;
    padding: 50px 0;
}
.figur{
    position: absolute;
    width: 1097px;
    height: 10px;
    top: 920px;
    background: #BDCFDB;
    opacity: 0.5;
    border-radius: 8px;
}
.figur1{
    position: absolute;
    width: 186px;
    height: 16px;
    left: 30px;
    top: 916px;
    background: #45B2EA;
    box-shadow: 0 8px 16px #E0F5FF;
    border-radius: 8px;
}
.stan-button button{
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 219px;
    height: 51px;
    left: 639px;
    /*top: 7600px;*/
    bottom: -860px;
    background: #8DB932;
    box-shadow: 0 11px 23px rgba(87, 137, 6, 0.62), 0 2px 5px rgba(87, 137, 6, 0.369586), 0px 1px 1px rgba(87, 137, 6, 0.250414);
    border-radius: 10px;
}
#no{
    padding: 450px;
}
#tady{
    padding:100px 0;
    background:url("../img/too.svg") no-repeat center/cover;
}
.tady{
    /*padding: 100px 0;*/
}
.tady-title h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #263238;
    padding-bottom: 50px;
}
/*.tady-title input{*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    letter-spacing: 0.15px;*/
/*    color: #000000;*/
/*}*/

.tady-btn button{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
    color: #000000;
    display:grid;
    grid-template-columns: 1fr;
    /*background: #45B2EA;*/
    width: 1300px;
    height: 60px;
    /*background: #FFFFFF;*/
    box-shadow: 0 2px 8px rgba(8, 35, 48, 0.24);
    border-radius: 10px;
    margin-bottom: 20px;
}
.tady-btn button ion-icon{
    border: 0 solid #BDCFDB;
    color: #FFFFFF;
    font-size: 25px;
    width: 700px;
    padding-left: 10px;
    margin-left: 100px;
}
.tady-btn button input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
}
.tady-btn{
    display:grid;
    grid-template-columns: 1fr;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
    /*background: #45B2EA;*/
    /*width: 1100px;*/
    height: 60px;
    /*background: #FFFFFF;*/
    box-shadow: 0 2px 8px rgba(8, 35, 48, 0.24);
    border-radius: 10px;
    margin-bottom: 20px;
}
.tady-title h2{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.44px;
    padding: 30px 0;
}
.tady-title p{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #000000;
    margin-bottom: 50px;
}
.btn-tady1{
    display:grid;
    grid-template-columns: 1fr;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
    /*background: #45B2EA;*/
    width: 1100px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(8, 35, 48, 0.24);
    border-radius: 10px;
    margin-bottom: 20px;
}
.tady-title button input {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    color: #000000;
    width: 900px;
}
.btn-tady1 ion-icon{
    font-size: 30px;
    color: #45B2EA;
}
.tady button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    background:none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #263238;
}
.btn-maus button{
    display:grid;
    align-items: center;
    grid-template-columns: 1fr;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
    background: #45B2EA;
    width: 300px;
    height: 60px;
    /*background: #FFFFFF;*/
    /*box-shadow: 0 2px 8px rgba(8, 35, 48, 0.24);*/
    border-radius: 10px;
    margin-top: 50px;
}
#sertificat{
    padding: 50px 0;
    background: #F2F9FD;
    position: relative;
}
.sertificat-title h1{
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    color: #263238;
    padding: 20px 0;
}
.ser-img{
    display: flex;
    justify-content: space-evenly;
    margin: 0 70px;
}
.ser-img a{
    position: absolute;
    bottom: 250px;
    right: 200px;
    font-size: 35px;
    color: #BDCFDB;
}
#logo{
    padding: 100px 0;

}
.logo-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
}
.figu1{
    width: 12px;
    height: 12px;
    background: #45B2EA;
    border-radius: 8px;
}
.figu2{
    width: 12px;
    height: 12px;
    background: #BDCFDB;
    border: 1px solid #A7BBC7;
    border-radius: 8px;
}.figu3{
    width: 12px;
    height: 12px;
    background: #BDCFDB;
    border: 1px solid #A7BBC7;
    border-radius: 8px;
}
 .a1{
    display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100px;
     padding-top: 50px;
}
 #video{
     background:url("../img/tooo.svg") no-repeat center/cover;
     padding: 100px 0;
     position: relative;
 }
 .video-title h1{
     font-weight: 600;
     font-size: 44px;
     text-align: center;
     color: #FFFFFF;
     margin-bottom: 50px;
 }
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 250px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%,rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
   transform: scale(0.9);
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(250px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}

 .video-img{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 200px;
     /*position: relative;*/
 }
 .vid-title{
     position: absolute;
     bottom: 180px ;
     left: 550px ;

 }
 .vid-title h1 {
     font-weight: 700;
     font-size: 20px;
     line-height: 23px;
     text-align: center;
     letter-spacing: 0.25px;
     color:#fff
 }
 .vid-title p{
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
     text-align: center;
     letter-spacing: 0.44px;
     color: #FFFFFF;
 }
 #clik{
     background: #162252;
     padding: 100px 0;
     position: relative;
 }
 .clik{
     padding-bottom: 300px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 1300px;
 }
 .clik-title h1 span {
     font-weight: 600;
     font-size: 40px;
     color: #8DB932;
 }
 .clik-title h1{
     font-weight: 600;
     font-size: 40px;
     color: #fff;
     margin-left: -200px;
 }
.clik-nice{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 .clik-nice h2{
     font-weight: 400;
     font-size: 14px;
     letter-spacing: 0.25px;
     text-decoration-line: underline;
     color: #FFFFFF;
     padding: 10px 0;
 }

.icons{
    display: inline-flex;
}
.icons a{
    margin: 0 14px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}
.icons a .layer{
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}
.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}
.icons a .layer span.fab{
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}
.icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(2){
    color: #2fa7f1;
    border-color: #2fa7f1;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2){
    color: #ec467f;
    border-color: #ec467f;
}
.icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}
.icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #E1306C;
}
.icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

ul{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    font-family: sans-serif;

}
ul li{
    list-style:none;
    margin:0 5px;
}
ul li a .fa{
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
}
ul li a span{
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
}
ul li a{
    text-decoration: none;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before{
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    /*transform:*/
    transform: rotate(0deg) skewY(-45deg);
}
ul li a:after{
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    /*transform: */
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
}
ul li:hover .fa{
    color:#fff;
}
ul li:hover span{
    color:#fff;
}
ul li:hover:nth-child(1) a{
    background: #3b5998;
}
ul li:hover:nth-child(1) a:before{
    background: #365492;
}
ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
}
ul li:hover:nth-child(2) a{
    background: #00aced;
}
ul li:hover:nth-child(2) a:before{
    background: #097aa5;
}
ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
}
ul li:hover:nth-child(3) a{
    background: #dd4b39;
}
ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
}
ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
}
ul li:hover:nth-child(4) a{
    background: #e4405f;
}
ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
}
ul li:hover:nth-child(4) a:after{
    background: #e46880;
}
